<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Single User</h1>
    {{#users}}
    <div class="user">
      <form method="POST" action="/users/{{id}}?_method=PUT">
        <p>ID: {{id}}</p>
        <p><input name="name" value='{{name}}' ></p>
        <p> <input name="email" value='{{email}}' ></p>
        <p> <input name="password" value='{{password}}' ><p>
          <button>Submit</button>
        </form>
      </div>
      {{/users}}
    </body>
  </html>
