<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create</title>
  <link rel="stylesheet" href="">
</head>
<body>
<h1>Create</h1>
<form method="POST" action="/species">
Species:<input name="species" id="species"><br>
Family:<input name="family" id="family"><br>
Habitat:<input name="habitat" id="habitat"><br>
Diet:<input name="diet" id="diet"><br>
Planet:<input name="planet" id="planet"><br>
<button type="submit">Submit</button>
</form>

</body>
</html>

